@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;400&display=swap');

.weather-app {
    margin: 0 20px;
}
.errorMessage {
    font-family: 'Poiret One', cursive;
    font-weight: 200;
    font-size: 50px;
    color: white;
}
