.forecast-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px, 0, 0, 0;
    align-items: center;
    margin: 20px;
}
.forecast-detail__date {
    font-size: 20px;
    font-weight: 900;
    padding: 5px;
}
.forecast-details__temperature-max {
    font-weight: 900;
}
